.button {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 51px;
}
.buttonPrimary {
  cursor: pointer;
  border: 0;
  padding: 14px var(--padding-xl);
  background-color: var(--color-black);
  width: 343px;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.buttonPrimary:hover {
  background-color: #333;
}
.buttonPrimary,
.home,
.secondaryButton {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.secondaryButton {
  width: 527px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  letter-spacing: normal;
}
@media screen and (max-width: 800px) {
  .home {
    gap: 179px 359px;
  }
}
@media screen and (max-width: 450px) {
  .home {
    gap: 90px 359px;
  }
}
