.Container5 {
    height: auto;
    width: 94%;
    margin: auto;
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.Container5LeftContainer {
    height: auto;
    width: 50%;
    float: left;
}

.Container5RightContainer {
    height: auto;
    width: 50%;
    float: right;
}

.Container5LeftContainer h1 {
    font-size: 62px;
    padding: 20px 80px 0px 45px;
}

.Container5LeftContainer p {
    font-size: 28px;
    font-weight: 100;
    padding: 0px 80px 20px 50px;
    width: 80%;
}

.Container5Img {
    height: 400px;
    margin: 40px;
    float: right;
}

/* Container5.module.css */

/* Media query for phones (up to 800px) */
@media only screen and (max-width: 800px) {
    .Container5LeftContainer {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0px;
    }
    
    .Container5RightContainer {
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    }

    .Container5LeftContainer h1 {
        font-size: 30px;
        padding: 15px;
    }
    
    .Container5LeftContainer p {
        font-size: 20px;
        padding: 20px;
    }

    .Container5Img {
        margin: 20px auto;
        width: 80%;
        height: auto;
    }

    .Container5Button {
        display: flex;
        margin: auto;
        text-align: center;
        margin-top: 20px;
        
    }
    
    .Container5Text {
        font-size: 28px;
        text-align: center;
        margin: auto;
        max-width: 80%;
    }
}
